*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}
.header-container{
    
    background-color: #FFF3E8;
}

/* Navbar starts from here */
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 100px;
    width: 75%;
    margin: 0 auto;
}
.nav-logo{
    font-size: 40px;
    font-weight: 800;
    color: rgb(34, 33, 33);
}
.anchor{
    font-size: 18px;
    color: black;
    margin-left: 10px;
    text-decoration: none;
}

/* Banner starts from here */
.banner-container{
    width: 75%;
    margin: 0 auto;
    padding-top: 100px;
}
.banner-details{
    text-align: center;
}
.banner-title{
    font-size: 56px;
    font-weight: 800;
    color: rgb(22, 22, 22);
}
.banner-p{
    padding: 32px 0px;
    color: rgb(85, 84, 84);
}
.primary-btn{
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    background-color: #FF8C2A;
}
.primary-btn:hover{
    color: black;
    cursor: pointer;
    background-color: #cc6002;
}
.banner-img{
    padding: 40px 0px;
    width: 100%;
}

/* Features starts from here */
.feature-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 75%;
    margin: 0 auto;
    padding: 70px 0px;
    gap: 60px;
}
.four-cards{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}
.feature-details{
    color: black;
}
.feature-title{
    font-size: 40px;
    font-weight: bold;
}
.gray{
    color: gray;
}
.black{
    color: black;
}
.orange{
    color: #FF8D2A;
}
.feature-p{
    padding: 32px 0px;
    color: rgb(85, 84, 84);
}

/* Experiences starts from here */
.experience-container{
    max-width: 1440px;
    margin: 0 auto;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.experience-details{
    padding: 20px;
    
}
.experience-title{
    font-size: 32px;
    font-weight: 800;
    border-left: 5px solid #FF8D2A;
    padding-left: 20px;
}
.experience-p{
    color: rgb(85, 84, 84);
    padding: 20px 0px;
    width: 85%;
}
.four-details{
    max-width: 70%;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 2px 2px 5px 1px rgb(216, 212, 212);
    border-radius: 5px;
}
.four-title{
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 5px;
}
.four-p{
    font-size: 14px;
}
.ex-img{
    max-width: 700px;
    max-height: 980px;
}
































/* RESPONSIVE MEDIA QUERY */

    /* Mobile devices */
@media screen and (max-width: 576px) {

    .nav-container{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .banner-title{
        font-size: 32px;
    }
    .feature-container{
        display: flex;
        flex-direction: column;
    }
    .four-cards{
        grid-template-columns: repeat(1, 1fr);
    }
    .feature-title{
        font-size: 32px;
    }
    .experience-container{
        /* display: flex; */
        flex-direction: column;
    }
    .ex-img{
        max-width: 100%;
    }
    .four-details{
        max-width: 100%;
        padding: 20px;
    }
}

    /* Tablet and Other devices */

@media screen and (min-width: 577px) and (max-width: 960px) {
    
    .nav-container{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .anchor{
        margin-left: 30px;
    }
    .banner-title{
        font-size: 40px;
    }
    .banner-p{
        width: 60%;
        margin: 0 auto;
    }
    .feature-container{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }
    .feature-details{
        text-align: center;
    }
    .experience-container{
        flex-direction: column;
    }
    .ex-img{
        max-width: 100%;
    }
    .four-details{
        max-width: 80%;
    }
}